.navbar {
    height: 6rem;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.logo {
    height: 90px;
    width: 80px;
}

.desktopMenuListItem {
    margin: 2rem;
    cursor: pointer;
    font-size: 1.15rem;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: rgb(113, 105, 122);
}

.desktopMenuListItem:hover {
    padding-bottom: 0.5rem;
    box-shadow: inset 0 -3px 0 rgb(113, 105, 122);
    transition: all 0.2s ease-in-out;
}
